<div mat-stroked-button *ngIf="flag" aria-label="Show an example snack-bar">
</div>
<button (click)="Delete(mymidellcard.idd)" id="icons" class="bi bi-x-circle"></button>
<h3 class="card-title" id="goo">
  <img id="img" src="assets/img/1.jfif" class="img-fluid rounded-start" />
  <a>{{mymidellcard.joptitle}}</a><i id="eye" class="bi bi-eye-slash-fill"></i>
</h3>
<div id="allcontact">
  <article id="art">
    <article class="text">
      <br />
      {{mymidellcard.namecompany}}
      <br>
      {{mymidellcard.jopaddress}}
      <br>
      {{mymidellcard.joptype}} <br />
      <span>
        <svg id="span" viewBox="0 0 24 24">
          <path
            d="M12 20a8 8 0 010-16 7.91 7.91 0 014.9 1.69l-1.43 1.42a6 6 0 101.42 1.42l3.82-3.82a1 1 0 000-1.41A1 1 0 0020 3a1 1 0 00-.7.29l-1 1A10 10 0 1022 12h-2a8 8 0 01-8 8zm5-8a5 5 0 11-5-5 4.93 4.93 0 012.76.82l-2.24 2.24A2.24 2.24 0 0012 10a2 2 0 102 2 2.24 2.24 0 00-.07-.51l2.24-2.24A5 5 0 0117 12z">
          </path>
        </svg>
        &nbsp;&nbsp;
        Actively reciting
        <br />
      </span>
    </article>
  </article>
</div>

<p id="hours">2 Hours ago</p>
<hr>
