<app-header></app-header>
<br>
<br>
<div class="container">
  <div class="card text-center">
      <div class="card-header" style="background-color: white;">
          <div class="d-grid gap-2 d-md-block ">
              <button type="button" class="btn float-start btn-lg hov bg-white">Your groups</button>
              <button type="button" class="btn float-start btn-lg hov bg-white">Requested</button>
              <button type="button" class="btn btn-outline-primary float-end btn-lg rounded-pill">Create
                  Group</button>
          </div>
      </div>
      <div class="card-body">
          <img src="../assets/Images/5.jpg">
          <h3 class="card-title">Discover groups</h3>
          <p class="card-text" style="font-size: 20px; font-weight: 400;">Find other trusted communities
              that share<br> and support your goals.</p>
          <a href="#" class="btn btn-outline-primary btn-lg rounded-pill">Discover</a>
      </div>
  </div>
</div>
